qualification_gate_detector:
  ros__parameters:

    orange_lower: [0, 50, 50]
    orange_upper: [30, 255, 255]

    min_area_strict: 300
    gate_width: 1.5
    publish_debug: true

qualification_navigator:
  ros__parameters:
    target_depth: -1.3
    search_speed: 0.3   
    search_yaw_speed: 0.15 
    approach_speed: 0.4
    passing_speed: 1.0

    alignment_threshold: 0.1
    alignment_yaw_gain: 2.0
    max_mission_time: 300.0

simple_thruster_mapper:
  ros__parameters:
    max_thrust: 10.0
    thrust_scale: 20.0
    vertical_thrust_boost: 3.0